.title{
    text-align: center;
}

.box{
    width: 150px;
    height: 150px;
    background: dodgerblue;
    display: grid;
    place-items: center;
    margin: auto;
    color: #fff;
    border-radius: 20px;
    transition: .5s;
}